<div  class="modal fade" id="{{table}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!editTabla">Ingresar en {{table}}</h4>
        <h4 class="modal-title" *ngIf="editTabla">Editar/Borrar en {{table}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
<span *ngIf="sol$ | async"></span>


<form  [formGroup]="listForm">



  <table class="table table-borderless">
    <thead>
      <tr>
        <th>
           Estado Solicitud
        </th>
        <td  *ngIf="estadosolicitud$ as es$">
            <select  *ngIf="es$" formControlName="EstadoSolicitud">
              <option [ngValue]="null" disabled>Elija su opción</option>
              <option *ngFor="let s of es$ | async" [ngValue]="s.id">{{s.nombre}}</option>
            </select>
        </td>
      </tr>
      <tr>
        <th>Centro Costo</th>
        <td *ngIf="centrocosto$ as cc$">
          <select  *ngIf="cc$" formControlName="CentroCosto">

            <option [ngValue]="null" disabled>Elija su opción</option>
            <option *ngFor="let c of cc$ | async" [ngValue]="c.id">{{c.nombre}}</option>

          </select>

        </td>
      </tr>
      <tr>
        <th>Solicitante</th>
        <td>
          <input id="solicitante" formControlName="solicitante" />
          <div
            *ngIf="listForm.controls.solicitante.errors?.required && listForm.controls.solicitante.touched"
            class="error"
          >
            *Required
          </div>
        </td>
      </tr>
      <tr>
        <th>Fecha</th>
        <td>
          <input type="date" id="fecha" formControlName="fecha" />
          <div
            *ngIf="listForm.controls.fecha.errors?.required && listForm.controls.fecha.touched"
            class="error"
          >
            *Required
          </div>
        </td>

      </tr>

      <tr>
        <th>Numero Registro</th>
        <td>
          <input id="numero_registro" formControlName="numero_registro" />
          <div
            *ngIf="listForm.controls.numero_registro.errors?.required && listForm.controls.numero_registro.touched"
            class="error"
          >
            *Required
          </div>
        </td>
      </tr>

    </thead>
  </table>

</form>

<ng-template #loading>
  Loading User...
</ng-template>

</div>

<!-- Modal footer -->
<div class="modal-footer">
  <span *ngIf="mod$ | async"></span>

  <button *ngIf="!editTabla" class="btn btn-info btn-sm" type="button" (click) = "ingresar()"
       [disabled]="!listForm.valid">Ingresar</button>&nbsp;
  <button *ngIf="editTabla" class="btn btn-info btn-sm" type="button"
       [disabled]="!listForm.valid"  data-dismiss="modal" (click)="editar()">Editar</button>&nbsp;
  <button *ngIf="editTabla" class="btn btn-info btn-sm" type="button"
       [disabled]="!listForm.valid" (click)="borrar()"  data-dismiss="modal">Borrar</button>&nbsp;
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


